
<table class="speed-table" style="width: 100%">
    <thead>
        <tr>
            <th>Date</th>
            <th>Speed</th>
            <th>Aircraft</th>
            <th>Pilot</th>
            <th>Site</th>
            <th>Location</th>
        </tr>
    </thead>
    <tbody>
    <tr *ngFor="let speed of speeds">
        <td>{{speed.date | date}}</td>
        <td><a [routerLink]="['/detail', speed.id]">{{speed.speedInMilesPerHour}}</a></td>
        <td>{{speed.aircraftName}}</td>
        <td>{{speed.pilotName}}</td>
        <td><a [routerLink]="['/site/', speed.siteId]">{{speed.siteName}}</a></td>
        <td>{{speed.siteLocation}}</td>
    </tr>
    </tbody>
</table>