
<my-app>loading...</my-app>

        @*@{
                ViewBag.Title = "Home Page";
            }

            <div class="jumbotron">
                <h1>DS Speeds</h1>
                <p class="lead">Providing an online record and statistics of Dynamic Soaring related speeds, sailplanes, pilots and locations.</p>
            </div>

            <div class="row">

                <div class="col-md-4">
                    <h2>Enter a speed</h2>
                    <p>Got a speed claim you want entered into the record? Enter it here. You will need pilot, plane, location, and speed details. </p>
                    <p>@Html.ActionLink("Enter a speed »", "Create", new { controller = "Speed" }, new { @class = "btn btn-default" })</p>
                </div>

                <div class="col-md-4">
                    <h2>Verify a speed</h2>
                    <p>Witnessed a speed claim? So that speed can be considered official, you will need to have witnessed the radar registered speed, and not be the pilot or the person
                       who entered the claim.</p>
                    <p>@Html.ActionLink("Verify a speed »", "AllUnverified", new { controller = "Speed" }, new { @class = "btn btn-default" })</p>
                </div>

                <div class="col-md-4">
                    <h2>What is dynamic soaring?</h2>
                    <p>
                        ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                        enables a clean separation of concerns and gives you full control over markup
                        for enjoyable, agile development.
                    </p>
                    <p><a class="btn btn-default" href="https://en.wikipedia.org/wiki/Dynamic_soaring">Learn more &raquo;</a></p>
                </div>
            </div>*@
