@model DsSpeeds.Models.SpeedListModel

<h2>All Unverified Speeds</h2>
<p>The following are claimed speeds which have not yet been independently verified. You can verify the speeds below if you meet the following criteria:</p>
<ul>
    <li>You witnessed the claimed speed</li>
    <li>You were not the pilot</li>
</ul>

@Html.Partial("SpeedList", Model)