@model DsSpeeds.Models.Site.SiteModel

@{
    ViewBag.Title = "Site Details";
}

<h2>All speeds for @Html.DisplayFor(m => m.ReadModel.SiteName)</h2>

<div>
    @Html.DisplayFor(m => m.ReadModel.Location)
</div>
<div>
    @Html.DisplayFor(m => m.ReadModel.CountryName)
</div>

<br />
<br />


@Html.Partial("SpeedList", Model.SpeedList)